<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Example Home</title>
        <!--/*/ <th:block th:include="head :: head"/> /*/-->
    </head>
    <body id="samples">
        <div th:replace="menu :: menu"></div>

        <div id="content" class="container">
            <h2>Example App</h2>

            <div th:unless="${#authorization.expression('isAuthenticated()')}">
                <p>Hello!</p>
                <p>You will need to login before viewing the <a th:href="@{/profile}">Profile</a> page.</p>
            </div>

            <div th:if="${#authorization.expression('isAuthenticated()')}" class="text container">
                <p>Welcome home, <span th:text="${#authentication.principal.fullName}">Joe Coder</span>!</p>
                <p>Visit the <a th:href="@{/profile}">Profile</a> page to view your user information.</p>
            </div>
        </div>
    </body>
</html>